version: 2.1

orbs:
  node: circleci/node@5.1.0
  vault: contentful/vault@1

commands:
  setup-npm:
    steps:
      - vault/get-secrets:
          template-preset: "packages-read"
      - run: echo "//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_READ_TOKEN}" > ~/.npmrc
      - run: echo "@contentful:registry=https://npm.pkg.github.com" >> ~/.npmrc

jobs:

  lint-and-test:
    docker:
      - image: "cimg/base:current"
    parameters:
      node-version:
        type: string
    steps:
      - checkout
      - node/install:
          node-version: << parameters.node-version >>
      - setup-npm
      - run: npm ci
      - run:
          name: Run linter
          command: npm run lint
      - run:
          name: Run tests
          command: npm run test

  build:
    docker:
      - image: "cimg/base:current"
    steps:
      - checkout
      - node/install:
          node-version: "20"
      - setup-npm
      - run: npm ci
      - run: npm run build
      - run: npm run build:docs

  lint-commits:
    docker:
      - image: "cimg/base:current"
    steps:
      - checkout
      - node/install:
          node-version: "20"
      - setup-npm
      - run: npm ci

  semantic-release:
    docker:
      - image: "cimg/base:current"
    steps:
      - checkout
      - vault/get-secrets:
          template-preset: "semantic-release-ecosystem"
      - run: echo "//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_WRITE_TOKEN}" > ~/.npmrc
      - run: echo "@contentful:registry=https://npm.pkg.github.com" >> ~/.npmrc
      - node/install:
          node-version: "20"
      - run: npm ci
      - run:
          name: Releasing
          command: npm run publish

workflows:
  lint-build-release:
    jobs:
      - lint-and-test:
          context: 
            - vault
          matrix:
            parameters:
              node-version: ["20", "22", "24"]
      - lint-commits:
          context:
            - vault
      - build:
          context:
            - vault
      - semantic-release:
          context:
            - vault
          requires:
            - lint-and-test
            - lint-commits
            - build
